// Asomiddin=been
section{
    .container1{
        .been{
            align-items: center;
            display: flex;
            h2{
                max-width: 250px;
            }
            p{
                max-width: 447px;
            }
            img{
                margin: 0 0 0 180px;
            }
        }
    }
}