// Asomiddin=Introducing
section{
    .container{
        .Introducing{
            align-items: center;
            display: flex;
            button{
                padding: 10px 28px 10px 28px;
                border-radius: 80px;
                background-color: #EFAE35;
            }
            span{
            }
        }
    }
}