// Asomiddin=take
section{
    .container1{
        .take{
            align-items: center;
            display: flex;
            .time{
                margin: 0 0 0 170px;
                h2{
                    max-width: 250px;
                }
                p{
                    max-width: 254px;
                }
            }
            img{
                margin: 0 170px 0 0;
            }
        }
    }
}